<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>collegeportal</display-name>
  <welcome-file-list>
  
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    
  </welcome-file-list>
  <context-param>
  <param-name>Tagline</param-name>
  <param-value>Spread the joy of Learning</param-value>
  
  </context-param>
  
  
   <context-param>
  <param-name>Year</param-name>
  <param-value>2000</param-value>
  
  </context-param>
  
  
  
</web-app>